@media screen and (max-width: 1150px) {
    #icon_dm {
        margin-right: 15px;
    }
}

@media screen and (max-width: 550px) {
    .th_style {
        min-width: 120px;
    }

    .welcome_text {
        position: absolute;
    }

    .insert_words {
        margin-top: 350px;
    }
}