* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/****************************************************/

/**** Welcome text ****/

.welcome_text {
    position: relative;
    text-align: center;
    margin-top: 150px;
}

.welcome_text h1 {
    font-size: 35px;
}

/****************************************************/

/**** Btns styles ****/

.btn p {
    margin-top: 25px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.btn p:hover {
    opacity: 0.7;
    color: orange;
}

/**** Inputs styles ****/

.input input {
    font-size: 20px;
    padding: 10px 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 350px;
}

.input input:focus {
    outline-color: orange;
}

/**** Insert words ****/

.insert_words {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

#btn_insert_words {
    display: block;
}

#input_insert_words {
    display: none;
}

/**** Practice ****/

.practice {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

/**** Word List ****/

.word_list {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

/**** Footer ****/

.footer_section {
    margin-top: 250px;
    text-align: center;
}

.footer_text span {
    font-size: 18px;
    font-weight: 700;
}

.footer_text a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer_text a:hover {
    color: orange;
}

.footer_text p {
    margin-top: 10px;
}

.icons {
    text-align: center;
    padding: 11px 14px;
    background: black;
    border-radius: 50px;
    color: white;
    width: 65px;
    height: 65px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.icons:hover {
    background: orange;
}

.copyright {
    position: relative;
    padding-top: 140px;
    text-align: center;
}
