* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/****************************************************/

/**** Welcome text ****/

.welcome_text {
    position: relative;
    text-align: center;
    top: 150px;
}

.welcome_text h1 {
    font-size: 35px;
}

/****************************************************/

/**** Btns styles ****/

.btn p {
    margin-top: 25px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.btn p:hover {
    opacity: 0.7;
    color: orange;
}

/**** Inputs styles ****/

.input input {
    font-size: 20px;
    padding: 10px 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 350px;
}

.input input:focus {
    outline-color: orange;
}

/**** Insert words ****/

.insert_words {
    position: relative;
    text-align: center;
    top: 350px;
}

#btn_insert_words {
    display: block;
}

#input_insert_words {
    display: none;
}




