* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/****************************************************/

/**** Welcome text ****/

.welcome_text {
    position: relative;
    text-align: center;
    margin-top: 150px;
}

.welcome_text h1 {
    font-size: 35px;
}

/****************************************************/

/**** Btns styles ****/

.btn p {
    margin-top: 25px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.btn p:hover {
    opacity: 0.7;
    color: orange;
}

/**** Inputs styles ****/

.input input {
    font-size: 20px;
    padding: 10px 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 350px;
}

.input input:focus {
    outline-color: orange;
}

/**** Cross ****/

.cross p {
    text-align: right;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cross p i {
    font-size: 30px;
    cursor: pointer;
}

.cross p i:hover {
    opacity: 0.7;
    color: orange;
}

/**** Insert words ****/

.insert_words {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

#btn1, #btn2, #btn3 {
    display: block;
}

#window1, #window2, #window3 {
    display: none;
}

/**** Practice ****/

.practice {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

#btn_practice_open {
    display: block;
}

#practice_window {
    display: none;
}

.practice h2 {
    margin-bottom: 35px;
}

/* Randomize btn */

.randomize_btn p {
    margin-top: 25px;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.randomize_btn p:hover {
    opacity: 0.7;
    color: orange;
}

/* First Practice */

.flip_box {
    background-color: transparent;
    width: 350px;
    height: 100px;
    border: 1px solid grey;
    perspective: 1000px;
    cursor: pointer;
    margin-left: 35%;
}

.flip_box_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_box:hover .flip_box_inner {
    transform: rotateX(180deg);
}

.flip_box_front, .flip_box_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_box_front {
    background-color: black;
    color: orange;
}

.flip_box_front, .flip_box_back {
    padding-top: 35px;
}

.flip_box_back {
    background-color: orange;
    color: black;
    transform: rotateX(180deg);
}

/**** Word List ****/

.word_list {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

/* List */

#list {
    position: relative;
}

#list table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

#list td {
    border: 3px solid orange;
    padding: 10px 15px;
    cursor: pointer;
    min-width: 250px;
}

#list tr:hover {
    background-color: orange;
}

/**** Footer ****/

.footer_section {
    margin-top: 250px;
    text-align: center;
}

.footer_text span {
    font-size: 18px;
    font-weight: 700;
}

.footer_text a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footer_text a:hover {
    color: orange;
}

.footer_text p {
    margin-top: 10px;
}

.icons {
    text-align: center;
    padding: 11px 14px;
    background: black;
    border-radius: 50px;
    color: white;
    width: 65px;
    height: 65px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 44px;
}

.icons:hover {
    background: orange;
}

.copyright {
    position: relative;
    padding-top: 140px;
    text-align: center;
}
